<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Batch_Proc/src/com/speno/batch/control/spnBatchStartup.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.speno.batch.control.spnBatchStartup"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Batch_Proc"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/user1/xconf.properties main download"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Batch_Proc"/>
</launchConfiguration>
